body {
    font-family: Georgia;
    color: #ddd;
    background-color: rgba(56, 56, 56, 0.96);
}

.block-div {
    height: 100%;
    background-color: #222;
    border-radius: 7px;
    border-bottom: 1px solid #000000;
    box-shadow: #222222 1px 2px 5px;
}


.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}


.axisX text {
    color: #fff;
    font-family: Consolas, courier;
    font-size: 9px;
}

.axisY text {
    fill: none;
    font-family: Consolas, courier;
    font-size: 9px;
}

.axisY tick {
    fill: none;
}

.line {

    fill-opacity: .3;
}




ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

li {
    margin: 10px 0;
}

input.labelauty + label {
    font: 12px "Microsoft Yahei";
}


.ci {}



.axisX text {
    font-family: sans-serif;
    font-size: 8px;
    fill: white;
}

.axisY text {
    font-family: sans-serif;
    font-size: 8px;
    fill: none;
}

.tooltip {
    font-family: simsun;
    font-size: 12px;
    width: 150px;
    height: auto;
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}

#naive {
    width: 99%;
    height: 42%;
    padding: 2px;
}


#timeline_bottom {

    width: 99%;
    height: 18%;
    padding: 2px;
}

#timeline_line {
    height: 120px;
    width: 100%;
}

#upper_level,
#lower_level {
    display: flex;
    height: 49%;
    align-items: center;
}

#lower_line {
    flex: 1;
    height: 50%;
    width: 100%;
}

#upper_line {
    flex: 1;
    height: 50%;
    width: 100%;
}


#content {
    overflow-y: auto;
    float: left;
    width: 17%;
    height: 40%;
    scrollbar-face-color: #99ccff;
}

#div_5 {
    float: left;
    width: 30%;
    height: 40%;
    padding: 0px;
}

#relation {
    float: left;
    width: 14%;
    height: 40%;
    padding: 0px;
}

#reason {
    float: left;
    width: 35%;
    height: 40%;
    padding: 0px;
}

#top-div {
    float: top;
    width: 100%;
    height: 55%;
    padding: 2px;
}

#bottom-div{
	float: bottom;
	width: 100%;
	height: 40%;
	padding: 2px;
}

#bottom-left-div {
    float: left;
    width: 100%;
    height: 40%;
    padding: 0px;
}

#bottom-right-div{
	position: absolute;
	left: 51%;
	top: 67.5%;
	width:50%;
	height:99%;
	padding: 2px;
}


text:hover {
    cursor: pointer;
    text-shadow: 5px 5px 5px #FFFFFF;
}



.t {

    -moz-user-select: text;
}



.show {
    position: absolute;
    background: #495A80;
    width: 10%;
    height: 9%;
    top: 51%;
    z-index: 1;
    left: 1.5%;
    opacity: 0.4;
}

#search_div {
    position: absolute;
    left: 81%;
    top: 0%;
    width: 18%;
    height: 60%;
    padding: 2px;
}

.wordleText {}

#lower_line .selection {
    fill: none;
    rx: 5px;
    ry: 5px;
    stroke: #ada63c;
    stroke-width: 2px;
}

#timeline_line .axis path,
.axis line {
    fill: none;
    stroke: none;
}

#timeline_line .axis text {
    fill: #2b516c;
    font-family: Microsoft YaHei;
    font-size: 9px;
}


#timeline_play {
    width: 100px;
    height: 30px;
    background-color: #8e6bc4;
    color: white;
    font-family: Microsoft YaHei;
    font-size: 11px;
    box-shadow: 0px 0px 7px #000;
}

#timeline_line .axis_tick text {
    fill: none;
}

#timeline_line .axis_tick line,
.axis_tick path {
    fill: none;
    stroke: #959595;
    opacity: 0.5;
    stroke-width: 0.5px;
}

#timeline_line .brush .overlay {
    fill: none;
    stroke: #959595;
    opacity: 0.5;
    stroke-width: 0.5px;
}

.handle--lower {
    fill: #ada63c;
}

.upper_timerange {
    fill: none;
    stroke: #ada63c;
    stroke-width: 2px;
    stroke-dasharray: 1 4;
    stroke-linecap: round;
    rx: 2px;
    ry: 2px;
}

#timeline_line .upper_timerange_t {
    fill: none;
    stroke: #ada63c;
    stroke-width: 2px;
}

#timeline_line .timeline_path_stroke {
    fill: none;
    stroke: #1e8faa;
    stroke-width: 3px;
    stroke-linecap: round;
}

#upper_line .overlay {
    fill: white;
    stroke: #959595;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
    fill-opacity: 0;
}

.mySelectTxt {
        color: #333;
        line-height: normal;
        font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun;
        font-style: normal;
        font-variant: normal;
        font-size-adjust: none;
        font-stretch: normal;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        font-size: 15px;
        outline-width: medium;
        outline-style: none;
        outline-color: invert;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        text-shadow: 0px 1px 2px #fff;
        background-attachment: scroll;
        background-repeat: repeat-x;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        background-color: rgb(255, 255, 255);
        margin-right: 8px;
        border-top-color: #ccc;
        border-right-color: #ccc;
        border-bottom-color: #ccc;
        border-left-color: #ccc;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
    }
